FITS Data, Conversion to NZtime
--

We want to download some data from FITS and then convert the date-time of those data to NZtime. The date-time of data in FITS is UTC.

In [1]:
import pandas as pd
df = pd.read_csv('http://fits.geonet.org.nz/observation?typeID=SO2-flux-a&siteID=WI302&days=20', parse_dates=True, index_col='date-time')

**Initially returned data are not aware of timezone, although we know they are in UTC**

In [2]:
df.head().index

DatetimeIndex(['2017-08-15 00:41:06', '2017-08-15 00:54:24',
               '2017-08-15 01:29:54', '2017-08-15 01:52:04',
               '2017-08-15 01:56:31'],
              dtype='datetime64[ns]', name='date-time', freq=None)

**Explicitly set the timezone to be UTC**

In [3]:
df = df.tz_localize('UTC')
df.head().index

DatetimeIndex(['2017-08-15 00:41:06+00:00', '2017-08-15 00:54:24+00:00',
               '2017-08-15 01:29:54+00:00', '2017-08-15 01:52:04+00:00',
               '2017-08-15 01:56:31+00:00'],
              dtype='datetime64[ns, UTC]', name='date-time', freq=None)

In [4]:
df.head()

                            SO2-flux-a (kg/s)   error (kg/s)
date-time
2017-08-15 00:41:06+00:00            0.388310       0.188426
2017-08-15 00:54:24+00:00            0.831829       0.403588
2017-08-15 01:29:54+00:00            3.139931       1.523264
2017-08-15 01:52:04+00:00            0.449884       0.218287
2017-08-15 01:56:31+00:00            0.717477       0.348032

**Convert to NZtime**

This will convert to NZST during the NZ winter, and to NZDT during the NZ summer

In [5]:
df = df.tz_convert(tz='NZ')
df.head()

                            SO2-flux-a (kg/s)   error (kg/s)
date-time
2017-08-15 12:41:06+12:00            0.388310       0.188426
2017-08-15 12:54:24+12:00            0.831829       0.403588
2017-08-15 13:29:54+12:00            3.139931       1.523264
2017-08-15 13:52:04+12:00            0.449884       0.218287
2017-08-15 13:56:31+12:00            0.717477       0.348032

**Convert to NZST, ignoring NZDT**

Ignore NZDT during the NZ summer. Simply add 12 hours to the time.

In [12]:
df = pd.read_csv('http://fits.geonet.org.nz/observation?typeID=SO2-flux-a&siteID=WI302&days=20', parse_dates=True, index_col='date-time')
df.index = df.index + pd.to_timedelta(12, unit='h') 
df.head()

                      SO2-flux-a (kg/s)   error (kg/s)
date-time
2017-08-15 12:41:06            0.388310       0.188426
2017-08-15 12:54:24            0.831829       0.403588
2017-08-15 13:29:54            3.139931       1.523264
2017-08-15 13:52:04            0.449884       0.218287
2017-08-15 13:56:31            0.717477       0.348032